<!-- books_list.html -->
<!DOCTYPE html>
<html lang="en">

{% extends 'books/base.html' %}

{% block content %}
<section class="container">
    <div class="row">
        <div class="col">
            
        </div>
    </div>
</section>
                    


{% for book in books %}
   <div class="card mt-3">
      <div class="card-body d-flex align-items-center justify-content-between">
        <h5>
            <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
           </h5>
          <span class="badge badge-info p-2">{{ book.status|title }}</span>
      </div>
   </div>
   

<div class="card-body">
    <hr>
    <a href="{% url 'book_update' book.id %}" class="btn btn-primary">Edit</a>
    <a href="{% url 'book_delete' book.id %}" class="btn btn-danger">Delete</a>
</div>

   

   
{% endfor %} 


{% endblock %}









